@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #110a2f;
}

:root{
    --bg-color:#fdfdfd;
    --text-color:#333;
    --main-color:#bb8fd8;
    --white-color:#fdfdfd;
    --shadow-color:rgba(0,0,0,.2);
    --header-color:rgb(118, 177, 230,.9);
}
.about-img img{
  
    border-radius: 30%;
    width:18vw;
   height:100vh;
  
    margin-right: 20px;
   
}

.container-fluid{
    width:100vw;
    position:fixed;
    background: var(--bg-color);
    left:0;
    top:0;
    padding-top:30px;
}
.about_wrapper ul.nav-pills {
    border: 1px solid var(--gray-color);
    border-radius: 50px;
}

.about_wrapper ul li .nav-link {
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.45s cubic-bezier(0, 0, 0.2, 1);
    display: inline-block;
    color: var(--text-gray);
    border: 0;
    transition: 0.3s;
}

.about_wrapper ul li .nav-link.active {
    background-color: var(--primary-color);
}

.about_wrapper .single-progress {
    margin-top: 26px;
    position: relative;
    overflow: hidden;
}

.about_wrapper .single-progress .progress {
    height: 4px;
    border-radius: 4px;
    box-shadow: none;
    background-color: var(--bg-white);
    overflow: visible;
}

.about_wrapper .progress-bar {
    background-color:white;
    background-image: var(--gradient-color);
}

.about_wrapper .single-progress h6 {
    text-align: left;
}

.about_wrapper .single-progress .label {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--text-gray);
    font-size: 15px;
}

.about_wrapper .tab-pane li {
    color: var(--gray-color);
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    list-style: none;
}

.about_wrapper .tab-pane li a {
    font-weight: 500;
    display: block;
    color: var(--text-gray);
}
.about{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
   
}
.about-content p{
    font-size: 15px;
    color:white;
    align-items: center;
    justify-content: left;
}
.about-content a{
    background-color: aliceblue;
}
html{
   
    overflow-x: hidden;
}
body{
     
  
    width: 100%;
}
.header
{
    display: flex;
    align-items: center;
    position:fixed;
    top: 0;
   left:0;
   width:100%;
   z-index: 100;
   background: none;
}
.dark-mode{
    --bg-color:#0b061f;
    --text-color:#fdfdfd;
     /* --main-color:#bb8fd8;  */
     
    --shadow-color:rgba(0,0,0,.7);
}

.navbar{
    width:100vw;
background: none;
   align-items: center;
 padding:10px;
    
}
.nav-item {
    justify-items: right;
   padding: 10px;
   align-items: center;
    justify-content: space-between;
    
}
a.navbar-brand{
    font-size: 30px;
}
@media only screen and(max-width:600px) {
    .navbar{
        align-items:flex-start;
        float: left;
     padding:10px;
    }
}
.navbar-toggler-icon{
    align-content: flex-start;
    
}
#darkMode-icon{
    font-size: 2.5rem;
    color:var(--text-color);
    cursor: pointer;
}

.home{
    display: flex;
    flex-direction: row;
    height:130vh;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height:4rem;
    background: transparent;
    border:.2rem solid var(--shadow-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
    text-decoration: none;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}
.btn{
    display:inline-block;
    padding:1.2rem 2.8rem;
   background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color:#fdfdfd;

    font-weight: 600;
    transition:.5s ease;
    border:.2rem solid transparent;

}
.btn:hover{
    background-color: transparent;
    color:var(--main-color);
}
.profession-container{
    position: absolute;
    right:0;

    transform: translateY(-50%);
    width:768px;
    height:768px;
 
    overflow: hidden;
    pointer-events: none;
    top:35%;
}
.services h2{
    margin-top:2rem;
}
.profession-container .profession-box{
    position: absolute;
    top:10%;
    right: 0;
    width: 768px;
    height:750px;

 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: professionRotate 10s ease-out infinite;
}
@keyframes professionRotate{
    0%,20%{
        transform: rotate(0deg);
    }
    25%,45%{
        transform: rotate(-90deg);
    }
    50%,70%{
        transform: rotate(-180deg);
    }
    75%,95%{
        transform: rotate(-270deg);
    
    }
    100%{
        transorm:rotate(0deg);
    }
}
.profession-box .profession{
    position:absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    color:var(--main-color);
    transform:rotate(calc(360deg/4*var(--i)));
    transform-origin: 384px;
    left:0;
    background: var(--bg-color);
    padding: 13px;
}
.home{
    height:130vh;   
}
.profession-box .profession:nth-child(1) i{
    margin-right: 15px;
}
.profession-box .profession:nth-child(2),.profession-box .profession:nth-child(4){
    padding-bottom: 20px;
}
.profession i{
    font-size:3.8rem;
}
.profession h3{
    font-size: 2rem;
    line-height: 1;
    font-weight: 200;
}
.profession-box .circle{
    width:560px;
    height:560px;
   
    border:3px solid aliceblue;
    border-radius: 50%;
}
.profession-container .overlay{
    position:absolute;
    top:0;
    right:0;
    width:0;
    height: 0;
    border-top: 384px solid rgb(200, 213, 224);
    border-right: 384px solid rgb(200, 213, 224);
    border-bottom: 384px solid rgb(200, 213, 224);
    border-left:384px solid transparent;
  
}
.home-img img{
    position:absolute;
    bottom:0;
    right:0;
    top:30;
    bottom: 0;
   height:100vh;
    width:100%;
    pointer-events: none;
    width:35vw;
  
   
    
}
.about-img img{
  
    border-radius: 30%;
    width:auto;
   height:70vh;
    margin-top:1rem;
    margin-right: 20px;
   
}
span{
    color:var(--main-color);

}
.about{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:10px;
    margin-left:0rem;
    margin-top: 20px;
   
    min-height: 100vh;
   
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 300px;
        font-size: 10px;
       
 
}

.heading{
    text-align: center;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    margin-top: 10px;
}
.services .services-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:2rem;
    
}
.services-container .services-box{
   
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius:2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    width:350px;
    height:300px;
    transition: .5s ease;
    
}
.services-box p{
    font-size: small;
}
.services-box i{
    font-size: 4rem;
    color: var(--main-color);
}
.services-box h3{
    color:#bb8fd8;
}
.services-container .services-box:hover
{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}
.portfolio-box img{
    height:50vh;
    width:20vw;
}
.portfolio{
    padding-bottom: 10rem;
    margin-top: 4rem;

}
.portfolio h2{
    margin-bottom: 4rem;

}
.portfolio .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap:1rem;
}
.portfolio-container .portfolio-box
{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow:0 0 1rem rgba(0,0,0,.1);
    overflow: hidden;
}
.portfolio-box img{
    width:100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position:absolute;
    bottom: 0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    color:var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    justify-content: center;
    font-family: cursive;
    opacity: 0;
    transition: 5ms ease;
}
.portfolio-box:hover .portfolio-layer{
    opacity:1;
}
.portfolio-layer i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:5rem;
    height:5rem;
    background: var(--white-color);
    border-radius: 50%;
    color: var(--main-color);
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin:1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,.contact form textarea{
    width:100%;
    padding: 1.5rem;
   
    color:var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin:.7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}
.contact form .input-box input{
    width:49%;
}
.contact form textarea{
    resize: none;
}
.contact form btn{
    margin-top: 2rem;
    cursor:pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:2rem 7%;
    background: rgb(200, 213, 224);
}
.footer-text p{
    font-size:1.2rem;
    color:rgb(3, 27, 46);

}
.footer-icontop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--white-color);
    border-radius: .8rem;
    border:.2rem solid var(--main-color);   
    text-decoration: none;
    outline: .2rem solid transparent;
    transition: .5s ease;
}
.footer-icontop a:hover{
    outline-color: var(--white-color);
}
.footer-icontop a i{
    font-size: 2rem;
    color: var(--text-color);
}
.text{
    margin-left: 3rem;
}
@media(max-width:1200px){
    html{
        font-size: medium;
    }
    about_wrapper ul.nav-pills{
        width:100%;
        margin:auto;
        border:0;
    }
    .about_wrapper ul li .nav-link {
        font-size: 13px;
    }
    .home .profession-container{
        height:85.8rem;
    }
    .home .profession-container .portfolio-box{
        right:-12rem;
        height:85.8rem;
    }
    .home .profession-container .overlay{
        right:-9rem;
    }
    .about{
        margin-top: 500px;

    }
    
}
@media(max-width:1024px)
{
    .header{
        padding:2rem 3%;
    }
    about_wrapper ul.nav-pills{
        width:100%;
        margin:auto;
        border:0;
    }
    .about_wrapper ul li .nav-link {
        font-size: 13px;
    }
    section{
        padding: 10rem 3% 2rem;
    }
     .profession-container .profession-box{
        right:-22rem;
    }
   .profession-container .overlay{
        right:-15rem;
    }
    .about-img img{
        width:20vw;
        height:30vh;
    }
}
@media(max-width:991px){
     .home-content{
        max-width: 50rem;
    }
     .profession-container .profession-box{
        right:-45rem;
    }
    .portfolio-container .overlay{
        right:-39.5rem;
    }
    .home-img img{
        display: none;
    }
    .services,.portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding:2rem 3%;
    }
    .about{
        margin-top: 300px;
    }
    .about-img img{
        width:20vw;
        height:30vh;
    }

}
@media(max-width:768px){
.home{
    padding: 0 3% 23rem;
    justify-content: center;
    text-align: center;
}
about_wrapper ul.nav-pills{
    width:100%;
    margin:auto;
    border:0;
}
.about_wrapper ul li .nav-link {
    font-size: 13px;
}
.home-content .social-media a{
    margin:2.5rem .75rem 3rem;
}
 .profession-container{
    left:0;
    top:90%;
    width:100%;
    height:100%;
}
 .profession-container .profession-box{
    position:fixed;
    top:300px;
    left:0;
    border-radius: 0;
    width: 100%;
}
.profession-box .profession{
    padding:0 13px;
    left:auto;
    transform-origin: 0;
}
.profession-container .profession:nth-child(1){
    transform: rotate(-90deg) translate(-120px,-210px);
}
.profession-container .profession:nth-child(1) i{
    margin-right: 0;
}
 .profession-container .profession:nth-child(2){
    transform: rotate(0deg) translate(0,-335px);
}
 .profession-container .profession:nth-child(3){
    transform: rotate(90deg) translate(-115px,-450px);
}
.profession-container .profession:nth-child(4){
    transform: rotate(180deg) translate(-220px,-335px);
}

 .profession-container .overlay{
    position:fixed;
  
    top:30rem;
    left:50%;
    align-items: center;
    right:0;
    transform: rotate(90deg) translate(-50%,50%) scaleY(3);
    border-width: 23.9rem;
}
.profession-box circle{
    position:fixed;
    width:670px;
    height: 670px;
    z-index:-1;
}
.text{
    align-items: center;
    text-align: center;
    
}
.about{
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 600px;
    font-size: 10px;
   
}
.portfolio .portfolio-container{
    grid-template-columns: 1fr;
}
.about-content h2{
    text-align: center;
}
 .about-img img{
        width:20vw;
        height:30vh;
    }
.services h2,.portfolio h2{
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.portfolio .portfolio-container{
    grid-template-columns: repeat(2,1fr);
}
}
@media(max-width:600px){
    .portfolio .portfolio-container{
        grid-template-columns: 1fr;
    }
    .about-img img{
        height:70vh;
        width:30vw;

    }
   
    .home{
        padding: 0 3% 30rem;
    }
    .profession-box .profession:nth-child(1){
            transform: rotate(-90deg) translate(-110px,-220px);
    }
    .profession-box .profession:nth-child(2){
        transform: rotate(0deg) translate(5px,-335px);
}
.profession-box .profession:nth-child(3){
    transform: rotate(90deg) translate(-105px,-440px);
}
.profession-box .profession:nth-child(4){
    transform: rotate(180deg) translate(210px,-335px);
}
.contact form .input-box input{
    width:100%;
}
}
@media (max-width:365px) {
    .about-img img{
        width:40vw;
        height:50vh;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
    .text{
        text-align: center;
        align-items: center;
        margin-left: 0rem;

    }
    .about{
        margin-left:0rem;

    }

    
}
@media only screen and(min-width:768px){

.portfolio .portfolio-container{
        grid-template-columns: 1fr;
    }
   
    .home{
        padding: 0 3% 30rem;
    }
    .profession-box .profession:nth-child(1){
    transform: rotate(-90deg) translate(-110px,-220px);
    }
     .profession-box .profession:nth-child(2){
     transform: rotate(0deg) translate(5px,-335px);
}
.profession-box .profession:nth-child(3){
    transform: rotate(90deg) translate(-105px,-440px);
}
.profession-box .profession:nth-child(4){
     transform: rotate(180deg) translate(210px,-335px);
}
.contact form .input-box input{
    width:100%;
}
 .about-img img{
        width:20vw;
        height:30vh;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
    .text{
        text-align: center;
        align-items: center;
        margin-left: 0rem;

    }
    .about{
        margin-left:0rem;

    }
}
